.gpt3__header {
  display: flex;
  justify-content: space-between;
}
.gpt3__header-img {
  width: 50%;
  flex: 1;
}
.gpt3__header-img img {
  width: 100%;
}
.gpt3__header-info {
  flex: 1;
}
.gpt3__header-info h1 {
  font-size: 64px;
  font-family: var(--font-family);
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.gpt3__header-info p {
  color: var(--color-text);
  font-size: 20px;
  line-height: 30px;
  width: 82%;
}
.gpt3__header-form {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 2rem;
}
.gpt3__header-form input {
  flex: 1;
  background: var(--color-blog);
  border: none;
  height: 50px;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
.gpt3__header-form button {
  flex: 0.5;
  font-size: 18px;
  border: none;
  background: #ff5722;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}
.gpt3__header-people {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt3__header-people img {
  width: 170px;
  margin-right: 0.5rem;
}
@media screen and (max-width: 650px) {
  .gpt3__header {
    flex-direction: column;
  }
  .gpt3__header-info h1 {
    font-size: 30px;
  }
  .gpt3__header-info p {
    font-size: 15px;
  }
  .gpt3__header-form {
    flex-direction: column;
  }
  .gpt3__header-img {
    width: 100%;
  }
}
@media screen and (max-width: 1150px) {
  .gpt3__header {
    flex-direction: column;
  }
  .gpt3__header-info h1 {
    font-size: 30px;
  }
  .gpt3__header-info p {
    font-size: 15px;
  }
  .gpt3__header-form {
    flex-direction: column;
  }
  .gpt3__header-img {
    width: 100%;
  }
}
